<div class='hero-head'>
    <nav class='navbar'>
        <div class='container'>
            <div id='navbarMenuHeroA' class='navbar-menu'>
                <div class='navbar-end'>
                    <a routerLink='/' class='navbar-item'>
                        Home
                    </a>
                    <a routerLink='/profile' class='navbar-item'>
                        Profile
                    </a>
                    <a routerLink='/login' class='navbar-item'>
                        Login
                    </a>
                    <a routerLink='/signup' class='navbar-item'>
                        Sign Up
                    </a>
                    <a routerLink='/login' (click)='logoutUser()' class='navbar-item'>
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
