<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                    <a href="" class="navbar-item">
                        Home
                    </a>
                    <a href="/profile" class="navbar-item">
                        Profile
                    </a>
                    <a href="/login" class="navbar-item">
                        Login
                    </a>
                    <a routerLink='/signup' class="navbar-item">
                        Sign Up
                    </a>
                    <a (click)='logoutUser()' href="/login" class="navbar-item">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
