<div class="column is-4 is-offset-4">
    <h3 class="title">Signup Authentication</h3>
    <div class="box">
        <div id='reset-code-page'  class="hidden field">
            <div class="control">
                <input id='signup-code' class="input is-large" type="tel" placeholder="Signup code" autofocus="">
            </div>

            <div>
                <button (click)='validateCode()' class="button is-block is-info is-large is-fullwidth">Submit reset code</button>
            </div>
        </div>
    </div>
</div>
