<div id='user-posts'>
    <label for='sort'>Sort by:</label>&nbsp;
    <select name='sort' id='sortby' (change)='getPosts($event)'>
        <option value='newest'>Newest</option>
        <option value='oldest'>Oldest</option>
        <option value='liked'>Most Liked</option>
        <option value='disliked'>Most disliked</option>
    </select>

    <div class='post' *ngFor='let p of posts'>
        <p>
            {{p.post}}
        </p>
        <span>Published: {{p.published}}</span>
        <p class='private-post'>{{p.is_public ? '' : 'Private Post'}}</p>
        <button (click)='likePost(p.post_id, 1)'>Like Post</button>
        <button (click)='likePost(p.post_id, -1)'>Dislike Post</button>
        <span>{{p.likes}}</span>
        
        <hr>
    </div>
</div>