#profile {
    margin-left: 1em;
}

#username {
    font-size: 2em;
}

img {
    width: 10em;
    height: 10em;
    margin-bottom: 1em;
}

#bio {
    width: 25em;
}

.profile-info {
    margin-bottom: 1em;
}

