#user-info {
    margin-left: 1em;
    width: 25em;
    float: left;
    #username {
        font-size: 2em;
    }
    
    img {
        width: 10em;
        height: 10em;
        margin-bottom: 1em;
    }
    
    #bio {
        width: 25em;
    }
    
    .profile-info {
        margin-bottom: 1em;
    }
}

#user-posts {
    margin-left: 26em;
    margin-right: 1em;
    padding-left: 1em;

    li {
        width: 35em;
    }
}



