#profile {
    margin-left: 1em;
    width: 25em;
    float: left;
}

.navbar-item {
    padding-left: 0;
    padding-right: 1em;
}

#name {
    font-size: 2em;
}

textarea {
    width: 20em;
    padding: 0.25em;
    resize: none;
}

input[type=text], input[type=email], input[type=tel] {
    width: 20em;
}

input {
    margin-bottom: 1em;
}

button {
    margin-bottom: 1em;
    width: 8em;
}

img {
    width: 10em;
    height: 10em;
}