#profile {
    margin-left: 1em;
}

#name {
    font-size: 2em;
}

textarea {
    width: 25em;
    padding: 0.25em;
    resize: none;
}

input {
    width: 20em;
    margin-bottom: 1em;
}

button {
    margin-bottom: 1em;
}

img {
    width: 10em;
    height: 10em;
}