<div id='posts'>
    <textarea id='newpost' cols='80' rows='10'></textarea>
    <br>
    <button (click)='publishPost()'>Publish Post</button>
    <button id='post-image' (click)='imageUploadModal(true)'>Post Image</button>
    <input id='private-post' type='checkbox' [checked]='isPrivate'>
    <span>&nbsp; Private Post</span>

    <div id='user-posts'>
        <label for='sort'>Sort by:</label>&nbsp;
        <select name='sort' id='sortby' (change)='getPosts($event)'>
            <option value='newest'>Newest</option>
            <option value='oldest'>Oldest</option>
            <option value='liked'>Most Liked</option>
            <option value='disliked'>Most disliked</option>
        </select>
    
        <div class='post' *ngFor='let p of posts'>
            <p *ngIf='!p.is_image' class='post-text' id='{{p.post_id}}'>
                {{p.post}}
            </p>
            <img *ngIf='p.is_image' src='{{p.post}}' alt='Image unavailable'>
            <textarea class='post-edit' id='{{p.post_id}}-edit' cols='80' rows="10"></textarea>
            <p class='post-metadata'>Published: {{p.published}}</p>
            <p class='post-metadata'>Likes: {{p.likes}}</p>
            <div class='post-controls'>
                <button (click)='deletePost(p.post_id)'>Delete Post</button>
                <button *ngIf='!p.is_image' (click)='editPost($event, p.post_id)'>Edit Post</button>
                <button  class='update-post' id='{{p.post_id}}-update' (click)='updatePost(p.post_id, !p.is_public)'>Update Post</button>
                <input id='{{p.post_id}}-private' type='checkbox' [checked]='!p.is_public' (change)='changePostPrivacy($event, p.post_id)'>
                <span>&nbsp; Private Post</span>
            </div>
    
            <hr>
        </div>
    </div>
</div>
<div class='form-popup' id='image-modal'>
    <div class='form-container'>
      <input id='image-post-upload' type='file' accept='.png, .jpg, .jpeg'>
      <button type='button' class='btn' (click)='postImage()'>Post image</button>
      <button type='button' class='btn cancel' (click)='imageUploadModal(false)'>Close</button>
    </div>
</div>
