<div id='posts'>
    <h3>Posts</h3>
    <textarea id='newpost' cols='80' rows='10'></textarea>
    <br>
    <button (click)='publishPost()'>Publish Post</button>
    <input id='private-post' type='checkbox' [checked]='isPrivate'>
    <span>&nbsp; Private Post</span>

    <div id='user-posts'>
        <div class='post' *ngFor='let p of posts'>
            <p>
                {{p.post}}
            </p>
            <p class='published'>Published: {{p.published}}</p>
            <button (click)='deletePost($event)' id='{{p.post_id}}'>Delete Post</button>
            <button>Edit Post</button>

            <hr>
        </div>
    </div>
</div>