#posts {
    margin-left: 26em;
    margin-right: 1em;
    width: 40em;

    #user-posts {
        margin-top: 1em;
    }
}

h3 {
    font-size: 2em;
}

textarea {
    margin-top: 1em;
}

.post {
    width: 40em;
    margin-bottom: 1em;
    margin-top: 1em;
    .post-text {
        margin-bottom: 0.5em;
    }
    .post-metadata {
        color: grey;
    }
    hr {
        border-top: 1px solid black;
        margin-bottom: 0;
    }
    .post-edit, .update-post {
        display: none;
    }
    .post-controls {
        margin-top: 0.5em;
    }

	img {
		max-width: 30em;
		max-height: 30em;
	}
}

button {
    margin-right: 1em;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #f1f1f1;
	z-index: 9;

	/* Add styles to the form container */
	.form-container {
		max-width: 300px;
		padding: 10px;
		background-color: white;

		.btn {
			background-color: #04AA6D;
			color: white;
			padding: 16px 20px;
			border: none;
			cursor: pointer;
			width: 100%;
			margin-bottom:10px;
			opacity: 0.8;
		}

		.cancel {
			background-color: red;
		}

		.btn:hover, .open-button:hover {
			opacity: 1;
		}

		input[type=file] {
			margin-bottom: 1em;
		}
	}
}