#posts {
    margin-left: 26em;
    margin-right: 1em;
    width: 40em;

    #user-posts {
        margin-top: 1em;
    }
}

h3 {
    font-size: 2em;
}

textarea {
    margin-top: 1em;
}

.post {
    width: 40em;
    margin-bottom: 1em;
    margin-top: 1em;
    .post-text {
        margin-bottom: 0.5em;
    }
    .post-metadata {
        color: grey;
    }
    hr {
        border-top: 1px solid black;
        margin-bottom: 0;
    }
    .post-edit, .update-post {
        display: none;
    }
    .post-controls {
        margin-top: 0.5em;
    }
}

button {
    margin-right: 1em;
}