<p class='post-author'>
    <a routerLink='/{{post.author}}'>
        {{post.author}}
    </a>
</p>
<p *ngIf='!post.is_image'>{{post.post}}</p>
<div>
    <img *ngIf='post.is_image' src='{{post.post}}' alt='Image unavailable'>
</div>
<span>Published: {{post.published}}</span>
<p class='private-post'>{{post.is_public ? '' : 'Private Post'}}</p>
<button (click)='likePost( 1)' [class.liked]='post.liked'>Like Post</button>
<button (click)='likePost(-1)' [class.disliked]='post.disliked'>Dislike Post</button>
<span>{{post.likes}}</span>
&nbsp;
<a (click)='togglePostComments()'>Comments ({{post.comments}})</a>
<app-comments *ngIf='showComments' [postId]='post.post_id' (setCommentCount)='setCommentCount($event)'></app-comments>
<hr>