<div class='column is-4 is-offset-4'>
    <h3 class='title'>Sign Up</h3>
    <div class='box'>
        <div class='field'>
            <div class='control'>
                <input id='email' class='input is-large' type='email' name='email' placeholder='Email' autofocus=''>
            </div>
        </div>

        <div class='field'>
            <div class='control'>
                <input id='phone-number' class='input is-large' type='email' name='tel' placeholder='Phone number' autofocus=''>
            </div>
        </div>

        <div class='field'>
            <div class='control'>
                <input id='username' class='input is-large' type='text' name='username' placeholder='Username' autofocus=''>
            </div>
        </div>

        <div class='field'>
            <div class='control'>
                <input id='password' class='input is-large' type='password' name='password' placeholder='Password'>
            </div>
        </div>

        <div class='field'>
            <div class='control'>
                <input id='is-private' type='checkbox' checked='checked'>
                Private Profile
            </div>
        </div>

        <button (click)='signupUser()' class="button is-block is-info is-large is-fullwidth">Sign Up</button>
    </div>
</div>
 