<div class="column is-4 is-offset-4">
    <h3 class="title">Password Reset</h3>
    <div class="box">
        <div id='email-reset' class="field">
            <div class="control">
                <input id='email' class="input is-large" type="email" placeholder="Email" autofocus="">
            </div>

            <div (click)='toggleResetMethod("sms")' class='toggle-method'>
                <a>Use SMS to reset password</a>
            </div>

            <div>
                <button (click)='resetPassword("email")' class="button is-block is-info is-large is-fullwidth">Send Reset Code</button>
            </div>
        </div>

        <div id='sms-reset'  class="hidden field">
            <div class="control">
                <input id='sms-number' class="input is-large" type="tel" placeholder="SMS Number" autofocus="">
            </div>

            <div (click)='toggleResetMethod("email")' class='toggle-method'>
                <a>Use Email to reset password</a>
            </div>

            <div>
                <button (click)='resetPassword("sms")' class="button is-block is-info is-large is-fullwidth">Send reset code</button>
            </div>
        </div>

        <div id='reset-code-page'  class="hidden field">
            <div class="control">
                <input id='reset-code' class="input is-large" type="tel" placeholder="Reset code" autofocus="">
            </div>

            <div>
                <button (click)='validResetCode()' class="button is-block is-info is-large is-fullwidth">Submit reset code</button>
            </div>
        </div>

        <div id='set-password'  class="field">
            <div class="control">
                <input id='new-password' class="input is-large" type="password" placeholder="New password" autofocus="">
            </div>

            <div>
                <button (click)='setNewPassword()' class="button is-block is-info is-large is-fullwidth">Reset password</button>
            </div>
        </div>
    </div>
</div>
